@model IEnumerable<AspNetCoreMVC_Front_Back_End_SQLServer.Models.Aluno>

@{
    ViewData["List"] = "Aluno";
}
@{
    ViewBag.Title = "Lista de Alunos";
}
<p>
<p>
    <h1 align="center">Lista de Escolas</h1>
</p>

<p class="container">
    <a asp-action="Create" class="btn btn-primary">+ Add Novo</a>
</p>

<div class="container">
    <table class=" display table table-hove " style="background-color:black">
        <thead>
            <tr style="color:white">
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>RG</th>
                <th>CPF</th>
                <th>E-mail </th>
                <th>Código</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
            <tr style="color:white">
                <td>@item.Id_aluno</td>
                <td>@item.Nome</td>
                <td>@item.Sobreome</td>
                <td>@item.RG</td>
                <td>@item.CPF</td>
                <td>@item.E_mail</td>
                <td>@item.Id_esc</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id_aluno })</td>
                <td>@Html.ActionLink("Detalhes", "Details", new { id = item.Id_aluno })</td>
                <td>@Html.ActionLink("Excluir", "Delete", new { id = item.Id_aluno })</td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

