@model AspNetCoreMVC_Front_Back_End_SQLServer.Models.Escola

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3 align="center">Voce quero Excluir?</h3>
<div class="container-fluid">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_esc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_esc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="List" class="btn btn-info">Voltar na List</a>
        <input type="submit" value="Excluir" class="btn btn-primary" />

    </form>
</div>
